# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. Afisati primele 5 linii din tabel
    1. Care este numarul de date din DataFrame?
    1. Comparati iesirea metodelor `info()` si `describe()`.
    1. Care e numarul de coloane? afisati numele lor.
    1. Cum e indexat setul de date? sunt valorile din index unice?
    1. Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. Transformati intr-un ant dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din ref bibliografica 1 din curs e utila pentru intelegerea agregarilor.
    1. De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. Care sunt banii incasati pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. Cate echipe au participat la Euro 2012?
    1. Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. Pe care continent se bea mai multa bere, in medie?
    1. Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Predarea se va face in saptamana 25-29 martie 2019.
* Temele se pot lucra in echipa se se depun in acest caz in repository-urile github create pentru prima tema.
* Punctajul problemelor va fi precizat in decursul acestei saptamanini, urmariti documentul.

In [39]:
#Afisati primele 5 linii din tabel
import numpy as np
import pandas as pd

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data=pd.read_csv(url, sep="\t")
data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [40]:
#Care este numhttp://localhost:8888/notebooks/DataScience/Laborator4/Laborator4.ipynb#arul de date din DataFrame?
print(data.count())
print(len(data))

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64
4622

In [41]:
#Comparati iesirea metodelor info() si describe().
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None

In [42]:
print(data.describe())

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [43]:
#Care e numarul de coloane? afisati numele lor.
print(len(data.columns))
data.columns

5

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [44]:
#Cum e indexat setul de date? sunt valorile din index unice?
print(len(data['order_id'].unique()) == len(data['order_id']))
#data.duplicated(subset='order_id').any()

False

In [45]:
#Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
print(sorted(data['item_name'].unique()))
print(len(data['item_name'].unique()))

['6 Pack Soft Drink', 'Barbacoa Bowl', 'Barbacoa Burrito', 'Barbacoa Crispy Tacos', 'Barbacoa Salad Bowl', 'Barbacoa Soft Tacos', 'Bottled Water', 'Bowl', 'Burrito', 'Canned Soda', 'Canned Soft Drink', 'Carnitas Bowl', 'Carnitas Burrito', 'Carnitas Crispy Tacos', 'Carnitas Salad', 'Carnitas Salad Bowl', 'Carnitas Soft Tacos', 'Chicken Bowl', 'Chicken Burrito', 'Chicken Crispy Tacos', 'Chicken Salad', 'Chicken Salad Bowl', 'Chicken Soft Tacos', 'Chips', 'Chips and Fresh Tomato Salsa', 'Chips and Guacamole', 'Chips and Mild Fresh Tomato Salsa', 'Chips and Roasted Chili Corn Salsa', 'Chips and Roasted Chili-Corn Salsa', 'Chips and Tomatillo Green Chili Salsa', 'Chips and Tomatillo Red Chili Salsa', 'Chips and Tomatillo-Green Chili Salsa', 'Chips and Tomatillo-Red Chili Salsa', 'Crispy Tacos', 'Izze', 'Nantucket Nectar', 'Salad', 'Side of Chips', 'Steak Bowl', 'Steak Burrito', 'Steak Crispy Tacos', 'Steak Salad', 'Steak Salad Bowl', 'Steak Soft Tacos', 'Veggie Bowl', 'Veggie Burrito', 'Veggie Crispy Tacos', 'Veggie Salad', 'Veggie Salad Bowl', 'Veggie Soft Tacos']
50

In [46]:
#Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
print(sum(data['quantity']))

4972

In [47]:
#Transformati intr-un alt dataframe coloana 'item_price' din stringuri in valori floating point.
#Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'?
#Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs?
item_price = data
item_price['item_price'] = item_price['item_price'].str[1:]
item_price['item_price'] = pd.to_numeric(item_price['item_price'])

temp=item_price.where(item_price['item_name']=='Chicken Crispy Tacos')
temp = temp.dropna()
print(temp['quantity'].sum())
print(temp['quantity'].median())
temp.describe()

50.0
1.0

          order_id   quantity  item_price
count    47.000000  47.000000   47.000000
mean   1008.127660   1.063830   10.045319
std     500.469763   0.247092    2.260303
min       6.000000   1.000000    8.490000
25%     486.000000   1.000000    8.750000
50%    1156.000000   1.000000    8.750000
75%    1342.000000   1.000000   11.250000
max    1775.000000   2.000000   17.500000

In [48]:
#Care sunt cele mai comandate 3 marfuri?
data.head()
data.groupby('item_name')['quantity'].sum().sort_values(ascending=False)[:3]

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Name: quantity, dtype: int64

In [49]:
#De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
data.head()
data[(data.item_name == 'Canned Soda') & (data.quantity > 1)].count()

order_id              20
quantity              20
item_name             20
choice_description    20
item_price            20
dtype: int64

In [50]:
#Care sunt banii incasati pentru fiecare comanda? 
data['total_price'] = data.apply(lambda row: row.quantity * row.item_price, axis=1)
data.groupby(['order_id'])['total_price'].sum()

order_id
1       11.56
2       33.96
3       12.67
4       21.00
5       13.70
6       17.50
7       15.70
8       10.88
9       12.85
10      13.20
11      12.38
12      14.37
13      10.88
14      10.08
15      10.88
16      10.68
17      10.08
18      24.90
19      13.90
20      36.20
21      23.36
22      12.98
23      13.35
24      12.07
25      11.38
26      20.50
27      13.90
28      33.70
29      17.98
30      23.36
        ...
1805    20.00
1806    13.00
1807    18.64
1808    13.70
1809    14.45
1810    23.00
1811    29.25
1812    25.00
1813    35.00
1814    13.70
1815    12.50
1816    13.20
1817    13.00
1818    18.14
1819    13.20
1820    12.50
1821    13.70
1822    26.00
1823    12.15
1824    26.95
1825    66.50
1826    15.95
1827    32.95
1828    14.45
1829    24.25
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: total_price, Length: 1834, dtype: float64

In [51]:
#Cate echipe au participat la Euro 2012?
url="https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv"
data=pd.read_csv(url, sep=",")
data['Team'].count()

16

In [52]:
#Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
data.sort_values(by=["Red Cards","Yellow Cards"],ascending=False)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17

In [53]:
#Care e numarul mediu de cartonase rosii date? Dar mediana?
print("Media:",data["Red Cards"].mean())
print("Mediana: ",data["Red Cards"].median())

Media: 0.1875
Mediana:  0.0

In [54]:
#Care sunt echipele care au luat mai multe cartonase rosii decat media?
data.where(data["Red Cards"]>data["Red Cards"].mean()).dropna()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
6,Greece,5.0,8.0,18.0,30.7%,19.2%,32.0,1.0,1.0,1.0,...,13.0,65.1%,67.0,48.0,12.0,9.0,1.0,12.0,12.0,20.0
9,Poland,2.0,15.0,23.0,39.4%,5.2%,48.0,0.0,0.0,0.0,...,6.0,66.7%,48.0,56.0,3.0,7.0,1.0,7.0,7.0,17.0
11,Republic of Ireland,1.0,7.0,12.0,36.8%,5.2%,28.0,0.0,0.0,0.0,...,17.0,65.4%,43.0,51.0,11.0,6.0,1.0,10.0,10.0,17.0

In [55]:
#Care sunt echipele al caror nume incepe cu litera G?
data.where(data["Team"].str.startswith('G')).dropna()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10.0,32.0,32.0,47.8%,15.6%,80.0,2.0,1.0,0.0,...,10.0,62.6%,63.0,49.0,12.0,4.0,0.0,15.0,15.0,17.0
6,Greece,5.0,8.0,18.0,30.7%,19.2%,32.0,1.0,1.0,1.0,...,13.0,65.1%,67.0,48.0,12.0,9.0,1.0,12.0,12.0,20.0

In [56]:
#Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
acc=data.query("Team=='England'  | Team=='Greece'  | Team=='Russia'" )
acc["Shooting Accuracy"]

3     50.0%
6     30.7%
12    22.5%
Name: Shooting Accuracy, dtype: object

In [57]:
#Pe care continent se bea mai multa bere, in medie?
url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
data=pd.read_csv(url, sep=",")
x=data.groupby(["continent"])["beer_servings"].describe()
x.sort_values(by=["mean"],ascending=False)

           count        mean        std   min     25%    50%     75%    max
continent
EU          45.0  193.777778  99.631569   0.0  127.00  219.0  270.00  361.0
SA          12.0  175.083333  65.242845  93.0  129.50  162.5  198.00  333.0
OC          16.0   89.687500  96.641412   0.0   21.00   52.5  125.75  306.0
AF          53.0   61.471698  80.557816   0.0   15.00   32.0   76.00  376.0
AS          44.0   37.045455  49.469725   0.0    4.25   17.5   60.50  247.0

In [58]:
#Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
x=data.groupby(["continent"])["wine_servings"].describe()
x

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [59]:
#Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia agg
x=data.groupby(["continent"]).agg({'beer_servings':['min', 'max', 'mean']})
x

          beer_servings
                    min  max        mean
continent
AF                    0  376   61.471698
AS                    0  247   37.045455
EU                    0  361  193.777778
OC                    0  306   89.687500
SA                   93  333  175.083333