# Laborator 4

## 1. Exercitii cu Pandas

1. Incarcati setul de date in format tsv [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) intr-un obiect Pandas DataFrame.
    1. Afisati primele 5 linii din tabel
    1. Care este numarul de date din DataFrame?
    1. Comparati iesirea metodelor `info()` si `describe()`.
    1. Care e numarul de coloane? afisati numele lor.
    1. Cum e indexat setul de date? sunt valorile din index unice?
    1. Care sunt marfurile vandute, in ordine alfabetica? Cate sunt?
    1. Cate obiecte (items) au fost comandate, in total - suma pe coloana 'quantity'?
    1. Transformati intr-un ant dataframe coloana 'item_price' din stringuri in valori floating point. Care sunt preturile (minim, maxim, mediu, median) cu care s-a vandut produsul 'Chicken Crispy Tacos'? Cate astfel de produse au fost comandate in total? Care sunt veniturile obtinute din vanzarea acestui produs? *Nota*: puteti folosi metoda `describe()` a unui dataframe/series.
    1. Care sunt cele mai comandate 3 marfuri? Folositi `groupby()` pentru grupare, ne intereseaza cantitatile cele mai mari. *Nota:* sectiunea 'Aggregation and Grouping' din ref bibliografica 1 din curs e utila pentru intelegerea agregarilor.
    1. De cate ori s-a comandat 'Veggie Salad Bowl'?
    1. De cate ori intr-o comanda s-au cerut mai mult de o 'Canned Soda'?
    1. Care sunt banii incasati pentru fiecare comanda? atentie, pentru fiecare item comandat trebuie luat in considerare si cantitatea. Puteti crea coloane auxiliare (pret transformat din string in float, pret total pe acel item = pret_unitar * cantitate etc.)
1. Incarcati setul de date de la [https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv](https://raw.githubusercontent.com/jokecamp/FootballData/master/UEFA_European_Championship/Euro%202012/Euro%202012%20stats%20TEAM.csv) intr-un obiect Pandas DataFrame.
    1. Cate echipe au participat la Euro 2012?
    1. Sa se sorteze echipele dupa numarul de cartonase rosii, apoi dupa cele galbene, descrescator - sortare dupa criteriu dublu.
    1. Care e numarul mediu de cartonase rosii date? Dar mediana?
    1. Care sunt echipele care au luat mai multe cartonase rosii decat media?
    1. Care sunt echipele al caror nume incepe cu litera G? *Indicatie*: documentati-va despre Vectorized String Operations, sectiunea omonima din Ref bib 1 din curs 1.
    1. Care sunt Shooting accuracy pentru Anglia, Grecia, Rusia?
1. Incarcati setul de date de la [https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv). Folosind grupari (`groupby`) dupa o documentare serioasa in sectiunea 'Aggregation and Grouping' din ref bibliografica [1] din primul curs, rezolvati:
    1. Pe care continent se bea mai multa bere, in medie?
    1. Pentru fiecare continent sa se afiseze statisticile pentru consumul de vin.
    1. Sa se tipareasca min, max, media pentru consumul de bere pe fiecare continent. Folositi functia `agg`.

**Precizari**:
* Predarea se va face in saptamana 25-29 martie 2019.
* Temele se pot lucra in echipa se se depun in acest caz in repository-urile github create pentru prima tema.
* Punctajul problemelor va fi precizat in decursul acestei saptamanini, urmariti documentul.

In [13]:
import numpy as np
import pandas as pd

url="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
data=pd.read_csv(url, sep="\t")
print(data.head(5))

   order_id  quantity                              item_name  \
0         1         1           Chips and Fresh Tomato Salsa
1         1         1                                   Izze
2         1         1                       Nantucket Nectar
3         1         1  Chips and Tomatillo-Green Chili Salsa
4         2         2                           Chicken Bowl

                                  choice_description item_price
0                                                NaN     $2.39
1                                       [Clementine]     $3.39
2                                            [Apple]     $3.39
3                                                NaN     $2.39
4  [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [14]:
print(data.count())

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

In [16]:
data.info()
data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [18]:
len(data.columns)

5

In [36]:
#data.index.unique()
#data.order_id.unique()
data.duplicated(subset='order_id').any()

True

In [40]:
data=pd.DataFrame(columns=['item_name','quantity'])
print(data)

Empty DataFrame
Columns: [item_name, quantity]
Index: []